# Dependencias
node_modules/
.npm
dist/
build/

# Variables de Entorno (¡CRÍTICO!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker
*.log

# Bóvedas de emergencia
emergency_vault.json

# Editor binaries
Antigravity/
sytle.css
